body, html {
	height: 100%;
}

.bg {
	/* The image used */
	background-image: url("purple_stars_darker_light.jpg");

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

table {
	height: 100%;
	width: 100%;
}

input {
	background: transparent;
	border: none;
	width: 90%;
}

.bottom_placed {
	position: absolute;
	bottom: 0%;
	width: 100%;
}

.upper_half{
	position: relative;
	height: 50%;
	width: 100%;
	top: 0%;
}

.lower_half{
	position: relative;
	height: 50%;
	width: 100%;
	bottom: 0%;
}

::-moz-focus-inner {border: 0;}
:focus {outline: none;}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: white;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
	color: white;
}
