body{
	background: rgb(0,0,0);
}

.text_white{
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center_vert {
    margin-top: 5%;
}

.logo_size {
	width: 150px;
	height: 225px;
}

.left {
	position: absolute;
	left: 10px;
	top: 10px;
	height: 300px;
	width: 30%;
}

.right {
	position: absolute;
	right: 10px;
	top: 10px;
	height: 300px;
	width: 30%;
}

.mid {
	position: absolute;
	height: 300px;
	top: 10px;
	left: 30%;
	right: 30%;
}

.bottom {
	position: absolute;
	height: 100px;
	bottom: 10px;
	left: 30%;
	right: 30%;
}

.half_right {
    position: absolute;
	right: 10px;
	top: 10px;
	width: 40%;
}

.half_left {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 40%;
}

.top{
	top: 10px;
	height: 20%;
}