<!DOCTYPE html>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title class="title">Random Music Wizard</title>
    <link rel="stylesheet" href="home_style.css">
  </head>


  <body>
  	<!--<div class="left">
  		<img src="Logo.png" class="center logo_size">
  	</div>

  	<div class="right">
  		<img src="Logo.png" class="center logo_size">
  	</div>-->
  	<div class="mid">
  		<a href=you>
			<button onclick="play()" class="center center_vert">Play</button>
  		</a>
		<button onclick="connect()" class="center center_vert">Connect</button>

  	</div>
  </body>
</html>

<script>
//var socket = io.connect('http://10.57.167.107:8484');
//socket.send('lalala');

//var socket = io.connect('http://10.57.167.107:8484');

function connect(){
    console.log("connect");
    axios.get('/you')
      .then(function (response) {
        // handle success
        console.log(response);
      })
      .catch(function (error) {
        // handle error
        console.log(error);
      })
      .then(function () {
        // always executed
      });
//	var socket = io.connect('http://10.57.167.107:8484');
}

function play(){
//	socket.send('lalala');
}

function other_test(){
//    var io = io.emitter({ host: '10.57.167.107', port: 8484 });
//    setInterval(function(){
//        io.emit('time', new Date);
//    }, 5000);
}
console.log("test");
connect();</script>
